body{
  margin: auto;
  padding: auto;
  width: 100%;
  background:#cac7b9;

}
/*.wrap{
  position: fixed;
  height: 150px;
  width: 100%;
  z-index: 100;
  height: 150px;
}*/
.mainhead{
  width: 100%;
  background:#0e2f44;
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  margin-left: 2px;
  margin-top: 0;
  box-shadow: 4px 4px 5px #000033;
  padding-left: 2px;
}
.logo{
  position: relative;
  animation: move 3s infinite;
  animation-timing-function: ease-out;
  margin-left: 2px;
}
.logos{
  position: relative;
  animation: secondmove 3s infinite;
  animation-timing-function: ease-out;
}
@keyframes move{
  from{left: 0;}
  to{left: 20px;}
}
@keyframes secondmove{
  from{right: 0px;}
  to{right:30px;}
}
.navbar{
  padding-left: 100px;
  margin-top: 1px;
  margin-left: 2px;
  float: right;
}
.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li{
  display: inline-block;
  float:left;
  padding: 19px 19px 19px 30px;
  margin-left: 50px;
}
.navbar a{
  color: white;
  text-decoration: none;
  line-height:84px;
  display: block;
  font-weight: bold;
  }
.navbar li:hover{
  background-color: #E62117;
  width: auto;
  border-radius: .1px;
}
.navbar li.active{ background-color:  #E62117; }
.navbar li a:hover{
color:  #000019;
font-weight: bolder;
font-family: cursive;
}

.main{
  width: 100%;
  background-color: white;
  margin: 1px 1px 1px 1px;
  display: flex;
  flex-direction: column;
}
.photocontent{ display: flex; flex-direction: row;}
.photo{
  width: 40%;
}
.pho{
  height: 500px;
  width: 75%;
  margin-left: 22px;
}
.content{
  text-align: justify;
  margin:2px 15px 2px 15px;
  padding: 0;
  font-family: times;
  width: 58%;
}
.icons{
  margin-left: 2%;
  width: 99%;
}
.icon{
  border-radius: 30px;
  margin: 2%;
}
.icon:hover{
  opacity: .5;
}
.content h3{text-align: center;}

.flex-container{
  width: 100%;
  height:auto;
  padding: 2px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  background-color: #0e2f44;
  color: white;
}
.flex-item{
  margin: 12px auto auto 35px;
}
.item1{
  padding: 2px;
}
.mapouter{
  height: 130px;
  width: 150px;
  padding: 2px auto auto 1px;
}
.item2{
  padding: 2px;
}
.item3{
  padding: 2px;
}
@media screen and (max-width: 480px ) {
  body{ width: 100%;}
  .mainhead{
    margin:0;
    width: 100%;
    display: flex;
    flex-direction: column;

    }
    .logo{
      float: left;
      margin-left: 20%;
      width: 75%;
    }
    .logos{
      margin-left: 20%;
      float: left;
      width: 75%;
      }
      @keyframes move{
        from{left: 0;}
        to{left: 0;}
      }
      @keyframes secondmove{
        from{right: 0;}
        to{right:0;}
      }
      .navbar{
        padding-left: 0;
        margin-top: 1px;
        margin-left: 0;
        float: left;
        text-align: center;

      }
      .navbar ul{
        display: flex;
        flex-direction: column;
      }
      .navbar li{
        display: block;
        float:left;
        padding: 0;
        margin-left: 0;
        width: 98%;

        }
        .navbar a{
          line-height: 50px;
        }


      .main{
        width: 100%;
        padding: 0;
      }
      .photocontent{
        display: flex;
        flex-direction: column;
      }
      .content{
        text-align: center;
        margin:0;
        padding: 0;
        font-family: times;
        width: 100%;
      }
      .content p{
        font-family: bold;
      }
      .photo{
        width: 90%;
      }
      .icons{
        margin-left: 0;
      }

        .flex-container{
        width: 100%;
        height:auto;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        background-color: #0e2f44;
        color: white;
      }
      .flex-item{
        margin: 5px;
      }
      .item1{
        padding: 0;
      }
      .mapouter{
        height: 130px;
        width: auto;
        padding: 0;
      }
      .item2{
        padding: 0px;
      }
      .item3{
        padding: 0px;
        font-size: 12px;
      }
    }
