body{
  margin: auto;
  padding: auto;
  width: 100%;

}
.mainhead{
  width: 100%;
  height: 150px;
  width: 100%;
  background: linear-gradient( #02436F, white );
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  margin-left: 2px;

  }

  img{
    padding-left: 20px;
}
.sec{
  padding-left: 70%;
  padding-top: 1%;
}
.navbar{
  width: 100%;
  padding: auto;
  height: 45px;
  background-color: #04507E;
  margin-top: 1px;
  margin-left: 2px;
  box-shadow: 4px 5px 4px gray;
}
.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li{
  display: inline-block;
  float: left;
  padding: 19px 19px 19px 30px;
  width: inherit;

}
.navbar a{
  color: black;
  text-decoration: none;
  line-height: 10px;
  display: block;


}
.navbar li a:hover{
color: white ;
}

.navbar li:hover{
  background-color: #E62117;
  height: 7px;
  border-radius: 10px;
  width: auto;

}
.main{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.btn{
  height: 25px;
  width: 90px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  opacity: .9;
}
.btn a{
  text-decoration: none;
}
.btn:hover{
  background: green;
  box-shadow: 4px 4px 5px gray;
  }
  .btn a:hover{
    color: white;
  }

.sidenav{
  width:25%;
  margin-right: 8px;
  margin-left: 1px;

}
.sidenav ul{
  list-style-type: none;
}
.sidenav li{
  display: flex;
  flex-direction: column;
  width:inherit;
  background-color: #3764A7 ;
  margin: 1%;
  border-radius: 5px;


}
.sidenav li:hover{
  background-color:#21252B ;
}
.sidenav a{
  text-decoration: none;
  display: block;
  padding: 8px 11px;
  color: black;


}
.sidenav a:hover{
  color: white;
}
.right{
  width: 50%;
  margin-left: 10px;
  padding: 8px;
}
.right form{
  width: 45%;
  background: red;
}
.right input{
  padding: 4px;
}
.right select{
  width: 20%; padding:  0.6%; box-shadow: 4px 4px 10px blue;
}
.i{
  margin: 4px;
  width: 20%;
}
.images{
  height: 600px;
  width: 400px;
  float: right;
  margin-right: 1px;

}
.flex-container{
  width: 100%;
  height:220px;

  padding: 2px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(  white,#02436F);

}
.flex-item{
  margin: 12px auto auto 35px;

}
.item1{
  padding: 2px;


}
.image{
  height: 100px;
  width: 150px;
  padding: 2px auto auto 1px;
}
.item2{
  padding: 2px;


}
.item3{
  padding: 2px;


}
