body{
  margin: auto;
  width: 100%;
  background:#cac7b9;
}
.mainhead{/*main head contains 2 logos and navigation bar*/
  width: 100%;
  background:#0e2f44;
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  margin-left: 2px;
  margin-top: 0;
  box-shadow: 4px 4px 5px #000033;/*main head has a box shadow*/
  padding-left: 2px;
}
/*logo and logos class are animated to move forward and backward.
Animation count is infinite, time is 3 second
*/
.logo{
  position: relative;
  animation: move 3s infinite;
  animation-timing-function: ease-out;
  margin-left: 2px;
}
.logos{
  position: relative;
  animation: secondmove 3s infinite;
  animation-timing-function: ease-out;
}
@keyframes move{
  from{left: 0;}
  to{left: 20px;}
}
@keyframes secondmove{
  from{right: 0px;}
  to{right:30px;}
}
.navbar{/*navigation bar is in the right of the heading by using float */
  padding-left: 100px;
  margin-top: 1px;
  margin-left: 2px;
  float: right;
}
.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li{
  display: inline-block;
  float:left;
  padding: 19px 19px 19px 30px;
  margin-left: 50px;
}
.navbar a{
  color: white;
  text-decoration: none;
  line-height:84px;/*line height is for managing the anchor tag*/
  display: block;
  font-weight: bold;
  }
.navbar li:hover{
  background-color: #E62117;
  width: auto;
  border-radius: .1px;
}
.navbar li.active{ background-color:  #E62117; }
.navbar li a:hover{
color:  #000019;
font-weight: bolder;
font-family: cursive;
}
.main{/*this is class for the body part, which is in row*/
  width: 100%;
  padding: 0px;
}
.myform{/*it is the form link*/
  width: 90%;
  display: flex;
  flex-direction:column;
  padding-left: 30px;
  border-radius: 10px;
}
.name{/*this is the class of the inputs; includes three inputs: firstname, lastname, and email*/
  border-radius: 7px;
  width: 30%;
  height: 40px;
  margin-top: 3%;
  margin-left: 3%;
}
.country{border-radius: 7px; width: 10%; height: 25px;}/*provides option for choosing country*/
.message{ border-radius: 7px; width: 30%; height: 80px;  margin-top: 3%; margin-left: 3%;}/*input type: message*/
.form{/*fieldset class*/
  width: 95%;
  margin: 18px auto auto 5px;
  padding-left: 2px;
  border-radius: 5px;
}
.button{/*class for submit button; this represents the action*/
  border-radius: 7px;
  background-color: #0e2f44;
  width: 90px;
  height: 35px;
  color: white;
  font-weight: bold;
  margin-left: 3%;
}
.button:hover{
  background-color: white;
  color: black;
}
.let{/*label class(of country)*/
  font-size: 20px;
  color: black;
}
.images{
  height: 600px;
  width: 400px;
  float: right;
  margin-right: 1px;
}
.flex-container{/*for footer part; which has three separate classes, displayed in a row*/
  width: 100%;
  height:auto;
  padding: 2px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  background-color: #0e2f44;
  color: white;
}
.flex-item{/*it controls all three items of container*/
  margin: 5px auto auto 35px;
}
.item1{/*contains map*/
  padding: 2px;
}
.mapouter{
  height: 130px;
  width: 150px;
  padding: 2px 1px;
}
.map{
  height: 90%;
  width: 100%;
}
.item2{/*contains text about the website*/
  padding: 2px;
}
.item3{/*contains contact information*/
  padding: 2px;
}
@media screen and (max-width: 480px ) {/* for mobile view; the maximum width is 480 pixel*/
  body{ width: 100%;}
  .mainhead{/*the content of the mainhead will be in column*/
    margin:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
    .logo{
      margin-left: 25%;
      position: inherit;
      width:75%;
      animation: move 0s 0;
    }
    .logos{
        margin-left: 25%;
        position: inherit;
        width: 75%;
        animation: secondmove 0s 0;
      }
    
      .navbar{/*navigation bar is shown in the column in mobile*/
        padding-left: 0;
        margin-top: 0;
        margin-left: 0;
        float: left;
        text-align: center;
      }
      .navbar ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-top: 0;
      }
      .navbar li{
        display: block;
        float:left;
        padding: 0;
        margin-left: 0;
      }
        .navbar a{
          display: block;
          line-height: 50px;
        }
        .search{
        width: 60%;
      }
      .main{
        width: 100%;
        padding: 0;
      }
      .myform{
        width: 95%;
        display: flex;
        flex-direction: column;
        padding: 0;
        border-radius: 10px;
        margin: 0;
      }
      .form{
        width: 95%;
        margin: 0;
        padding-left: 0;
        }
        .flex-container{/*all the content of the footer will be in column*/
        width: 100%;
        height:auto;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
      .flex-item{/*padding is all 0*/
        margin: 0;
      }
      .item1{
        padding:0;
      }
      .mapouter{
        height: 130px;
        width: 100%;
        padding:0;
      }
      .item2{
        padding: 0;
      }
      .item3{
        padding: 0;
      }
    }
