body{
  margin: auto;
  padding: auto;
  width: 100%;
}

/*.wrap{
  position: fixed;
  height: 150px;
  width: 100%;
  z-index: 100;
  height: 150px;
}*/
.mainhead{
  width: 100%;
  background:#0e2f44;
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  margin-left: 2px;
  margin-top: 0;
  box-shadow: 4px 4px 5px #000033;
  padding-left: 2px;
}
.logo{
  position: relative;
  animation: move 3s infinite;
  animation-timing-function: ease-out;
  margin-left: 2px;
}
.logos{
  position: relative;
  animation: secondmove 3s infinite;
  animation-timing-function: ease-out;
}
@keyframes move{
  from{left: 0;}
  to{left: 20px;}
}
@keyframes secondmove{
  from{right: 0px;}
  to{right:30px;}
}
.navbar{
  padding-left: 100px;
  margin-top: 1px;
  margin-left: 2px;
  float: right;
}
.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li{
  display: inline-block;
  float:left;
  padding: 19px 19px 19px 30px;
  margin-left: 50px;
}
.navbar a{
  color: white;
  text-decoration: none;
  line-height:84px;
  display: block;
  font-weight: bold;
  }
.navbar li:hover{
  background-color: #E62117;
  width: auto;
  border-radius: 2px;
}
.navbar li a:hover{
color:  #000019;
font-weight: bolder;
font-family: cursive;
}
.main{
  width: 100%;
  padding: 3px;
  background:#ededed;
  font-family:Helvetica;
}
.main h3{
  color: green;
}
.main p{
  font-size: 20px;
  margin: 30px auto auto 80px;
}
.education{
  width: 95%;
  padding: 0px;
  font-size: 18px;
  margin: 0px;
}
.education ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.education li{
  padding: 2% 0 0 3%;
  justify-content: space-around;
}

.three{
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 0 auto auto 80px;
  font-size: 18px;

}
.skills{
  width: 38%;
  margin-left: 5px;
}
.experience{
  margin: 2px;
  width: 38%;
}
.other{
  font-size: 20px;
  margin: 0 auto auto 80px;
}

.flex-container{
  width: 100%;
  height:auto;
  padding: 2px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  background-color: #0e2f44;
  color: white;
}
.flex-item{
  margin: 12px auto auto 35px;
}
.item1{
  padding: 2px;
}
.mapouter{
  height: 130px;
  width: 150px;
  padding: 2px auto auto 1px;
}
.item2{
  padding: 2px;
}
.item3{
  padding: 2px;
}
@media screen and (max-width: 480px){
  body{ width: 100%; margin: 0; padding: 0;}
  .mainhead{

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    }
    .logo{
      position: relative;
      margin-left:25%;
      width: 10px;
      float: left;
    }
    .logos{
      position: relative;
      width: 10px;
      margin-left: 25%;
      float: left;

      }
      @keyframes move{
        from{left: 0;}
        to{left: 0;}
      }
      @keyframes secondmove{
        from{left: 0;}
        to{left:0;}
      }
      .navbar{
        padding-left: 0;
        margin-top: 0px;
        margin-left: 0px;
        float: left;
        text-align: center;
      }
      .navbar ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
      }
      .navbar li{
        display:block;
        float:left;
        padding: 0;
        margin-left: 0;
      }
      .navbar a{
        line-height:50px;
        display: block;
      }
      .main{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
      }

      .main p{
        font-size: 20px;
        margin: 0px;
        text-align: center;
      }
      .education{
        width: 100%;
        padding: 0px;
        font-size: 18px;
        margin: 0px;
      }
      .education ul{
        display: flex;
        flex-direction: column;

      }
      .education li{
        padding: 0;
        justify-content: space-around;
      }

      .three{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        font-size: 18px;

      }
      .skills{
        width: 100%;
        margin: 0px;
      }
      .experience{
        margin: 0px;
        width: 100%;
      }
      .other{
        font-size: 20px;
        margin:0px;
      }

      .flex-container{
        width: 100%;
        height:auto;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;

      }
      .flex-item{
        margin: 5px;
      }
      .item1{
        padding: 0px;
      }
      .mapouter{
        height: 130px;
        width: auto;
        padding: 0px;
      }
      .item2{
        padding: 0px;
      }
      .item3{
        padding: 0px;
      }
    }
